/*BASE*/
html,body{
    margin:0px;
    padding: 0px;
}

body,html{
    height:100%;/* 630px;*/
}
/*Typography*/
#result{
    font-size:30px ;
}

/*Layout*/
.parent{
    display:flex;
    height:100%;
}
.container{
    width:100%;/*320px*/
    border:5px solid black;
    border-radius:5px;
}

.grid-container{
    display:grid;
    width: 100%; /*320px*/
    grid-template-columns: auto auto auto auto; /* 80px*/
    cursor: pointer;
    /*border:1px solid black;*/
}

.grid-item{
    background-color: white;
    border: 0.1px solid lightgrey;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.result{
    height:200px;
    font-weight:bold;
}


#result{
    text-align:right;
    height:50px;
    margin:10px 20px;
}

/*Decoration*/

.operator{
    color:rgb(43, 161, 207);
}
.display-area{
    font-size: larger;
    font-weight: bold;
}

.grid-item:hover{
    background-color: lightblue;
}

.grid-item:focus{
    outline:solid rgb(43, 161, 207);
    transform: scale(1);
}

#equal:focus{
    outline: solid green;
}
/*
@media only screen and (min-width:330px) and (max-width:768px){

    .container{
        width:100%;
    }

.grid-container{
    width:100%;
    grid-template-columns: auto auto auto auto;
}
}

@media only screen and (max-height:599px){
body{
    height:auto;
    margin-top: 0px;
 }
 .container{
     height:auto;
     width:auto;
 }
 .parent{
     padding-top: 0px;
 }
 .grid-container{
     height:auto;
     width:auto;
     grid-template-columns: auto auto auto auto;
 }
 
} */
